<div class="app_container">
    <div class="search_container">
        <div id="app_title">
            Artist Directory
        </div>
        <form class="search_container__content" name="searchForm" action="/artists/search" method="GET">
            <input id="searchInput" type="text" placeholder="Type artist name here" name="name" />
            <input id="addArtistBtn" type="button" value="Add artist" onclick="showForm()" />
            <input id="searchBtn" type="submit" value="Search" />
        </form>
    </div>
    <div class="form_container">
        <form name="artistForm" action="/artists" method="POST">
            <input type="text" placeholder="Artist Name" name="name" />
            <input type="text" placeholder="About Artist" name="about" />
            <input type="text" placeholder="Image URL" name="img" />
            <input type="submit" value="Add" id="addBtn" />
        </form>
    </div>
    <div class="result_container">
        <div class="result_list">
            {{#each artists}}
            <div class="result_list_item" id={{this.id}}>
                <div class="result_list_item_thumbnail">
                    <img src="{{this.img}}" />
                </div>
                <div clas="result_list_item_desc">
                    <span class="result_list_item_title">{{this.name}}</span>
                    <span class="result_list_item_subtitle">{{this.desc}}</span>
                </div>
                <div class="delete_button_container">
                    <input type="button" value="Delete" class="delete_button" onclick="removeArtist({{this.id}})" />
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>